@media screen and (min-width:1024px)

    //Contact
    .Contact
        &-form
            padding-left 50px
            padding-right 50px
        &-head
            p
                max-width 750px
                margin 0 auto

    // menu
    .MainMenu
        width 530px

    // Pp project planner
    .Pp
        &-title
            padding-top 1em
        &-background
            &-left
            &-right
                background-size auto
