@media screen and (min-width:1200px)
    .u-wrapper
        max-width 1170px

    // Contact
    .Contact
        &-form
            overflow hidden
        &-formInfo
            float right
            width 25%

            p
                display block
    .Form
        float left
        padding-right 50px
        width 75%

    // Service
    .Services
        &-item
            width 350px

    // Pp project planner
    .Pp
        &-background
            &-left
                background-position bottom left
            &-right
                background-position bottom right
