.Header
	background #fff
	box-sizing border-box
	left 0
	padding 1em .5em 1em .5em
	position fixed
	right 0
	top 0

	&-logoLink
		width 200px
	&-logo
		margin 0
	&-iconMobile
		position absolute
		top 0
		right 0



.MainMenu
	&-link
		font-size 1.3em
		color #424242
		text-align left
		padding-top 1em
