@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-acobf8');
	src:url('../fonts/icomoon.eot?#iefix-acobf8') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-acobf8') format('woff'),
		url('../fonts/icomoon.ttf?-acobf8') format('truetype'),
		url('../fonts/icomoon.svg?-acobf8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}





.icon-facebook:before {
	content: "\e600";
}

.icon-proces:before {
	content: "\e601";
}

.icon-github:before {
	content: "\e602";
}

.icon-google:before {
	content: "\e603";
}

.icon-mobile:before {
	content: "\e604";
}

.icon-twitter:before {
	content: "\e60c";
}

.icon-youtube:before {
	content: "\e60e";
}

.icon-menu:before {
	content: "\e607";
}

.icon-message:before {
	content: "\e608";
}

.icon-delete:before {
	content: "\e609";
}

.icon-services:before {
	content: "\e612";
}

.icon-blog:before {
	content: "\e613";
}

.icon-skills:before {
	content: "\e605";
}

.icon-phone:before {
	content: "\e60a";
}

.icon-down:before {
	content: "\e606";
}

.icon-plane:before {
	content: "\e60b";
}

.icon-porfolio:before {
	content: "\e615";
}

.icon-user:before {
	content: "\e60d";
}

.icon-check:before {
	content: "\e611";
}

.icon-home:before {
	content: "\e616";
}
