// Colores
ColorRed    = #C71A2B
ColorPtm    = #10B18D
ColorOrange = #FBA919
ColorCobal  = #1d9b9e
ColorGreen  = #20c05c
ColorCoral  = #F04F53
ColorBlue   = #1378AE

.u-descendIcon
    color #999
    font-size 2.5em
    animation bounce 2s infinite linear
    position relative

.u-wrapper
    box-sizing border-box
    display block
    margin 0 auto
    max-width 960px
    position relative
    padding 0 15px
    height 100%


// social

.u-socialLink
    color #fff
    border-radius 50%
    line-height 0
    display inline-block
    vertical-align top
    box-sizing border-box
    &:last-of-type
            margin-right 0



.icon-facebook
    background #3b5998
.icon-twitter
    background #55acee
.icon-youtube
    background #e52d27
.icon-google
    background #dd4b39
.icon-github
    background #727272


.u-inputNone
    display none



.typed-cursor
    position relative
    opacity 1
    animation blink 0.7s infinite


