block fotter

    +Divider

    footer.Footer
        .u-wrapper
            h3 Gracias por Visitar
            p Manténgase al día en las redes Sociales
            aside.Footer-social
                a(href="https://www.facebook.com/godofredo.ninja" , target="_blank").Footer-socialLink.u-socialLink.icon-facebook
                a(href="https://twitter.com/GodoFredoNinja" , target="_blank").Footer-socialLink.u-socialLink.icon-twitter
                a(href="https://www.youtube.com/channel/UCvG7YDFE69L6XCyfyUOlq4A" , target="_blank").Footer-socialLink.u-socialLink.icon-youtube
                a(href="https://plus.google.com/u/0/b/115249403776168648016/" , target="_blank").Footer-socialLink.u-socialLink.icon-google
                a(href="https://github.com/godofredoninja" , target="_blank").Footer-socialLink.u-socialLink.icon-github

            p.Footer-copyright Derechos Reservados ©GodoFredo.ninja
