block fotter

	fotter.Fotter
		.u-wrapper
			h3 Thank You
			aside.Fotter-social
				a(href="#" , target="_blank").Fotter-socialLink.icon-facebook
				a(href="#" , target="_blank").Fotter-socialLink.icon-twitter
				a(href="#" , target="_blank").Fotter-socialLink.icon-youtube
				a(href="#" , target="_blank").Fotter-socialLink.icon-google
				a(href="#" , target="_blank").Fotter-socialLink.icon-github

			p.Fotter-copyright Derechos Reservados ©GodoFredo.ninja


