.Divider.DividerMobile
		span.red
		span.blue
		span.green
		span.yellow

aside.AsideTop.moveLeft
	.AsideTop.phone
		span.icon-phone 985369135
		span.icon-phone 01-7226418

header.Header

	.Content

		.Header-logoContent.moveLeft
			a(href="/", target="").Header-logoLink
				h1.Header-logo
					figure.Header-imageContainer
						img(src="images/logo.png", alt="GodoFredo Diseño y Desarrollo de Aplicaciones Web")

			.Header-iconMobile.icon-menu

		nav.MainMenu
			ul.MainMenu-list
				li.MainMenu-item
					a(href="/", target="").MainMenu-link.icon-home Home
				li.MainMenu-item
					a(href="/godofredo", target="").MainMenu-link.icon-user Sobre Mi
				li.MainMenu-item
					a(href="/servicios", target="").MainMenu-link.icon-services Servicios
				li.MainMenu-item
					a(href="/procesos", target="").MainMenu-link.icon-proces Procesos
				li.MainMenu-item
					a(href="/portafolio", target="").MainMenu-link.icon-porfolio portafolio
				li.MainMenu-item
					a(href="/blog", target="").MainMenu-link.icon-blog Blog
				li.MainMenu-item
					a(href="/contancto", target="").MainMenu-link.icon-message Contacto

