.Divider
	span.red
	span.blue
	span.green
	span.yellow

aside.AsideTop
	.u-wrapper
		.AsideTop.phone
			span.icon-phone 985369135
			span.icon-phone 01-7226418

header.Header
	.u-wrapper

		.Header-logo
			a(href="/", target="").Header-logoLink
				img(src="/images/logo.png", alt="GodoFredo Diseño y Desarrollo de Aplicaciones Web").Header-logo

		label.Header-iconMobile.icon-menu(for="MainMenu-callback")
		input(type="checkbox")#MainMenu-callback.MainMenu-callback.u-inputNone

		nav.MainMenu
			ul.MainMenu-list
				li.MainMenu-item
					a(href="/", target="").MainMenu-link
						i.icon-home
						span Home
				li.MainMenu-item
					a(href="/godofredo", target="").MainMenu-link
						i.icon-user
						span Sobre Mi
				li.MainMenu-item
					a(href="/servicios", target="").MainMenu-link
						i.icon-services
						span Servicios
				li.MainMenu-item
					a(href="/procesos", target="").MainMenu-link
						i.icon-proces
						span Procesos
				li.MainMenu-item
					a(href="/portafolio", target="").MainMenu-link
						i.icon-porfolio
						span portafolio
				li.MainMenu-item
					a(href="#", target="").MainMenu-link
						i.icon-blog
						span Blog
				li.MainMenu-item
					a(href="/contacto", target="").MainMenu-link
						i.icon-message
						span Contacto

