extends ../layouts/default

block title
	title= title

block content
	.Aboutme
		.Aboutme-bg
			.u-wrapper
				section.Aboutme-cont
					.Aboutme-img
					h1.Aboutme-info
						span.Aboutme-name GodoFredo
						span.Aboutme-description Freelance . Developer . Frontend . Backend.

					a(href="#Biography", target="GodoFredo Frontend").u-descendIcon.Scroll.icon-down

	.Divider
		span.red
		span.blue
		span.green
		span.yellow

	section#Biography.Biography
		article.Biography-description
			h2.Biography-title Mi Biografía
			.u-wrapper
				.Biography-info
					img(src="/images/profile.jpg", alt="").Biography-image

					p Hola!! Bienvenido a mi sitio web soy
						a(href="//twitter.com/GodoFredoNinja", target="_blank")  GodoFredo
						, FreeLancer de Lima – Perù.
					p He estado en el mercado desarrollando aplicaciones Web utilizando distintas tecnologías tales como:
						strong  (PHP, JavaScript, Python, Node.js , Angular, HTML5, CSS, etc.)
						, Las Cuales me permiten la libertad de desarrollar aplicaciones web modernas y creativos
					p Soy una persona optimista que sin duda viene de familia, un entusiasta, autodidacta, competitivo y con ganas de hacer bien las cosas y poder llegar al éxito. Sin duda amo lo que hago, disfruto mi trabajo, y mi pasión es ser mejor cada día.
					p Me gusta realizar cosas que sean exigentes porque es un reto para mí, procuro mantenerme actualizado y emplear las últimas tecnologías en cada uno de mis proyectos.

	.Divider
		span.red
		span.blue
		span.green
		span.yellow

	section.Skills
		h2.Skills-title Habilidades
		.u-wrapper
			artcile.Skills-items
				h3.Skills-titleItem Front-End
				ul.Skills-conten
					li.Skills-list.icon-check Html5 (Responsive Design - retina y multi pantalla)
					li.Skills-list.icon-check CSS3 (Stylus - Less -Sass)
					li.Skills-list.icon-check JavaScript (Jquery - Angular - APIs REST - AJAX - JSON)
					li.Skills-list.icon-check Diseño gráfico de interfaces y UX

			artcile.Skills-items.two
				h3.Skills-titleItem Back-End
				ul.Skills-conten
					li.Skills-list.icon-check PHP (Laravel - Codeigniter)
					li.Skills-list.icon-check Ruby on Rails
					li.Skills-list.icon-check Node.js
					li.Skills-list.icon-check Python Django
					li.Skills-list.icon-check DB (MYSQL - MONGODB - SQL)

			artcile.Skills-items.three
				h3.Skills-titleItem Marketing
				ul.Skills-conten
					li.Skills-list.icon-check SEO, Posicionamiento en Buscadores y SEM
					li.Skills-list.icon-check PR, comunicaciones e Inbound
					li.Skills-list.icon-check Emailing, minería y táctica
					li.Skills-list.icon-check Growth Hacking, Adwords, FB Ads, Remarketing

			artcile.Skills-items.four
				h3.Skills-titleItem Servidores y Devops
				ul.Skills-conten
					li.Skills-list.icon-check Servers cloud: Heroku
					li.Skills-list.icon-check Configuración de servidores Linux
					li.Skills-list.icon-check Amazon Web Services
					li.Skills-list.icon-check Azure

