extends ../layouts/default

block title
    title= title
block menuLink
    -var selectedMenu = 'Procesos';

block content

    .Portfolio.u-Height
        .u-wrapper
            .Portfolio-cont.u-alignCenter
                h1.Portfolio-title Proceso para el desarrollo web muy Pronto :)
                p Estoy trabajando muy duro en esta sección de nuestro sitio.  Manténganse al tanto!

                .Timer

    //- Include mixin project-planner
    +Pp


