extends ../layouts/default

block title
    title Proyectos Realizados por GodoFredo

block DescriptionPage
    meta(
         name='description',
         content='En esta sección muestro todo mis proyectos realizados. Desea que su proyecto aparezca en esa sección vamos contáctame para poder realizar su proyecto.'
    )

block menuLink
    -var selectedMenu = 'Portafolio';

block content

    .Portfolio.u-Height
        .u-wrapper
            .Portfolio-cont.u-alignCenter
                h1.Portfolio-title Mi Portfolio muy Pronto :)
                p Estoy trabajando muy duro en esta sección de nuestro sitio.  Manténganse al tanto!

                .Timer
    //- Include mixin project-planner
    +Pp
