doctype html
html(lang="Es_es")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width , initial-scale=1 ,maximum-scale=1')

		block title

		//
			/
			 _____           _       ______           _              _       _
			|  __ \         | |     |  ___|          | |            (_)     (_)
			| |  \/ ___   __| | ___ | |_ _ __ ___  __| | ___   _ __  _ _ __  _  __ _
			| | __ / _ \ / _` |/ _ \|  _| '__/ _ \/ _` |/ _ \ | '_ \| | '_ \| |/ _` |
			| |_\ \ (_) | (_| | (_) | | | | |  __/ (_| | (_) || | | | | | | | | (_| |
			 \____/\___/ \__,_|\___/\_| |_|  \___|\__,_|\___(_)_| |_|_|_| |_| |\__,_|
			                                                               _/ |
			                                                              |__/


		link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Denk+One|Lato:400,700,900,400italic,700italic")

		//- bower:css
		link(rel='stylesheet', href='/lib/normalize.css/normalize.css')
		//- endbower

		//- inject:css
		link(rel="stylesheet", href="/css/main.css")
		//- endinject

	body

		section.Landing

			include ../includes/header

			block content

			include ../includes/footer

		//- bower:js
		script(src='/lib/jquery/dist/jquery.js')
		//- endbower

		//- inject:js
		script(src="/scripts/main.js")
		//- endinject

		block Script

