doctype html
html(lang="Es_es")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width , initial-scale=1 ,maximum-scale=1')

        include ../includes/mixin

        block title

        block menuLink

        link(rel='icon', sizes='192x192', href='/icon.png')

        block DescriptionPage

        // og tags Facebook
        meta(property='fb:admins', content='981122618569985')
        meta(property='og:description', content='Hola soy GodoFredo, te ofrezco lo mejor en Diseño y desarrollo de aplicaciones web. Responsive Web Design, Posicionamiento Web (SEO), Social Media, Email Marketing, Google Adwords, Experiencia de usuario (UX).')
        meta(property='og:title', content='GodoFredo.ninja: Diseño Desarrollo Aplicaciones Web.')
        meta(property='og:type', content='website')
        meta(property='og:url', content='https://godofredo.ninja')
        meta(property='og:image', content='/social/social.png')
        meta(property='og:site_name', content='godofredo.ninja')

        // og tags Google+
        meta(itemprop='description', content='Hola soy GodoFredo, te ofrezco lo mejor en Diseño y desarrollo de aplicaciones web. Responsive Web Design, Posicionamiento Web (SEO), Social Media, Email Marketing, Google Adwords, Experiencia de usuario (UX).')

        // Twitter Cards
        meta(property='twitter:account_id', content='114069455')
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:site', content='@GodoFredoNinja')
        meta(name='twitter:title', content='GodoFredo.ninja: Diseño & Desarrollo de Aplicaciones Web.')
        meta(name='twitter:description', content='Hola soy GodoFredo, te ofrezco lo mejor en Diseño y desarrollo de aplicaciones web. Responsive Web Design, Posicionamiento Web (SEO), Social Media, Email Marketing, Google Adwords, Experiencia de usuario (UX).')
        meta(name='twitter:creator', content='@GodoFredoNinja')
        meta(name='twitter:image:src', content='/social/social.png')
        meta(name='twitter:domain', content='godofredo.ninja')

        // Google Fonts
        link(href='//fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic|Boogaloo', rel='stylesheet', type='text/css')

        //- bower:css
        link(rel='stylesheet', href='/lib/normalize.css/normalize.css')
        //- endbower

        //- inject:css
        link(rel="stylesheet", href="/css/main.css")
        //- endinject

    body

        section.Landing

            include ../includes/header

            block content

            include ../includes/footer

        //- bower:js
        script(src='/lib/jquery/dist/jquery.js')
        script(src='/lib/typed.js/js/typed.js')
        script(src='/lib/jquery.countdown/dist/jquery.countdown.min.js')
        //- endbower

        //- inject:js
        script(src="/scripts/contact.js")
        script(src="/scripts/main.js")
        //- endinject

        block Script

        //- Social
        #fb-root
        script(src='//connect.facebook.net/en_US/all.js#xfbml=1')
        //- script(src='//apis.google.com/js/plusone.js')
        script(src='//platform.twitter.com/widgets.js')
