doctype html
html(lang="Es_es")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width , initial-scale=1 ,maximum-scale=1')

		block title

		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Denk+One|Lato:400,700,900,400italic,700italic")

		//- bower:css
		link(rel='stylesheet', href='/lib/normalize.css/normalize.css')
		//- endbower

		//- inject:css
		link(rel="stylesheet", href="/css/main.css")
		//- endinject

	body

		include ../includes/header

		.wrapers.moveLeft
			block content


			include ../includes/footer

		//- bower:js
		script(src='/lib/jquery/dist/jquery.js')
		script(src='/lib/hammer.js/hammer.js')
		//- endbower

		//- inject:js
		script(src="/scripts/main.js")
		//- endinject

		block Script

