doctype html
html(lang="Es_es")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width , initial-scale=1 ,maximum-scale=1')

		block title

		//- bower:css
		//- endbower

		//- inject:css
		//- endinject

	body

		include ../includes/header


		block content


		include ../includes/footer

		//- bower:js
		//- endbower

		//- inject:js
		//- endinject

		block Script

