doctype html
html(lang="Es_es")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width , initial-scale=1 ,maximum-scale=1')

        include ../includes/mixin

        block title

        block menuLink

        link(href='//fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic|Boogaloo', rel='stylesheet', type='text/css')
        link(rel="stylesheet",  href='http://fonts.googleapis.com/css?family=Handlee')
        //- bower:css
        link(rel='stylesheet', href='/lib/normalize.css/normalize.css')
        //- endbower

        //- inject:css
        link(rel="stylesheet", href="/css/main.css")
        //- endinject

    body

        section.Landing

            include ../includes/header

            block content

            include ../includes/footer

        //- bower:js
        script(src='/lib/jquery/dist/jquery.js')
        script(src='/lib/typed.js/js/typed.js')
        script(src='/lib/jquery.countdown/dist/jquery.countdown.min.js')
        //- endbower

        //- inject:js
        script(src="/scripts/contact.js")
        script(src="/scripts/main.js")
        //- endinject

        block Script

        //- Social
        #fb-root
        script(src='//connect.facebook.net/en_US/all.js#xfbml=1')
        //- script(src='//apis.google.com/js/plusone.js')
        script(src='//platform.twitter.com/widgets.js')
